*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  text-align: center;
  padding: 35px;
  background-color: aliceblue;
}
.main{
  background-color: rgb(205, 215, 204);
  padding: 50px;
  border-radius: 20px;
}
.foot{
  text-align: center;
  padding: 100px;
  background-color: aliceblue;
}
img{
  width: 300px ;
}
.img-des{
  width: 700px;
}